@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --text-primary: #111111;
        --text-secondary: #3B3B3B;
        --background: #DADADA;
        --background2: ;
        --navColor: #F9F9F9;
        --accentColor: rgb(0, 49, 139);
        --elementColor1:
        --elementColor2:
        --elementColor3:
        /**--shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;**/
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-primary: white;
        --text-secondary: #9e9e9e;
        --background: #181818;
        --background2: #2b2b2b;
        --navColor: #363636;
        --accentColor: lightblue;
        --elementColor1:
        --elementColor2:
        --elementColor3:
        /**--shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px 0px;**/
    }
}
.navBar {
    background-color: var(--navColor);
}
body {
    background-color: var(--background);
}
.navButton {
    border: none;
    background-color: var(--navColor);
    color: var(--text-secondary);
    font-family: 'Nunito', sans-serif;
}
.currentButton {
    text-decoration: underline;
    color: var(--text-primary);
}
.titleDiv {
    font-family: 'Nunito', sans-serif;
}
.logoText {
    font-family: 'Nunito', sans-serif;
    color: var(--text-primary);
}
.logoTextBottom {
    color: var(--accentColor);
}
.firstTitle {
    background: linear-gradient(180deg,#FF0000,#FF7F00,#FFFF00,#00FF00, #01b872,#0000FF,#8B00FF,#FF0000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 4000%;
    
    -webkit-animation: rainbowanim 10s linear infinite;
    -moz-animation: rainbowanim 10s linear infinite;
    animation: rainbowanim 10s linear infinite;
}
  
@-webkit-keyframes rainbowanim {
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}
@-moz-keyframes rainbowanim {
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}
@keyframes rainbowanim { 
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}
.secondTitle {
    color: var(--text-primary);
}
.firstContentDiv {
    background-attachment: fixed;
    background-size: 100%m;
    background-image: url(https://images.unsplash.com/photo-1567446042105-d18dc59d4677?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
}
.secondContentDiv {
    /* background-color: var(--background); */
    background-color: blue;
}
.contentTitle {
    color: var();
}
.contentText {
    color: var(--text-primary);
}
.footer {
    font-family: 'Nunito', sans-serif;
    color: var(--text-secondary);
}